*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  transition: 0.3s;
}

header img{
  width: 200px;
  height: 80px;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

main:first-of-type{
  background-color: #eee;
  padding: 20px;
}
main:nth-of-type(2){
  
  padding: 20px;
  margin: 10px;
}
main img{
  width: 300px;
  margin: 20px;
}
.Testemonials{
  background-color: #eee;
}
.Testemonials img{
width: 100px;
border-radius: 50%;
}
.Testemonials i{
  color: rgb(255, 234, 0);
}
footer{
  background-color: #eee;
}
footer img{
width: 300px;
height: 500px;
}
.form{
  max-width: 200px;
  gap: 20px;
}