*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

header img{
  width: 200px;
  height: 80px;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* .container{
margin: auto 100px;
} */
main{
  background-color: #eee;
  padding: 20px;
}
main img{
  width: 300px;
  margin: 20px;
}